.grid{
    display:grid; 
    grid-template-areas:"search" 
                        "list"
                        "pagination";
    grid-template-rows: 2rem 70vh 2rem;
}     

.list{
    display:grid;
    grid-area: list;
}

.pagination{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-area: pagination;
}

.search {
    grid-area: search;
}
